@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
    background-color: #ffffff;
}
/*
body {
    background: #e3e9f7;
}
img {
    width: 100%;
}
header {
    width: 80%;
    height: 70px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}
.logo {
    width: 120px;
    height: 50px;
    margin-top: 8px;
    align-items: center;
}
nav .logo {
    display: none;
}
nav ul {
    display: flex;
}
nav ul li a {
    color: #212526;
    display: block;
    margin: 0 2px;
    font-weight: 600;
    padding: 8px 18px;
    transition: 0.2s;
    border-radius: 30px;
    text-decoration: none;
}
nav ul li a:hover {
    background: #f6f4ff;
}
nav ul li a.active {
    background: #675cff;
    color: #fff;
}
.hamburger {
    display: none;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}
.hamburger:hover {
    background: #f6f4ff;
}
.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}
@media only screen and (max-width: 1100px) {
    header {
        width: 90%;
        padding: 0 20px;
    }
    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #nav_check:checked ~ nav {
        left: 0;
    }
    nav .logo {
        display: block;
        height: 70px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 10px 15px;
        border-radius: 5px;
        align-items: center;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
        align-items: center;
    }
    .hamburger {
        display: block;
    }
}
*/




/*
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
    z-index: 10;
    background: #ddd
}

header .logo {
    position: relative;
    font-size: 1.5em;
    color: #111;
    text-decoration: none;
    font-weight: 600;
}
header .navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
header .navigation li {
    list-style: none;
    margin: 0 10px;
}
header .navigation li a {
    color: #111;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
header .navigation li a:hover {
    color: #ffeb3b;
}
header .search {
    position: relative;
    width: 300px;
    height: 40px;
}
header .search input {
    position: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background: transparent;
    outline: none;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 0 10px 0 45px;
    font-style: normal;
}
header .search input::placeholder {
    color: black;
}
header .search .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: black;
    border-right: 1px solid #fff;
    padding-right: 10px;
}
@media only screen and (max-width: 768px) {
    header{
        flex-direction: column;
        padding: 10px; 20px;
    }
    header .search{
        width: 100%;
    }
}
*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

/*primary header*/
.logo {
    margin: 2rem;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
    background: #928d9f10;
    padding-bottom: 70px;
    width: 100%;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
}

@supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background: hsl(0 0% 20% / 0.1);
      backdrop-filter: blur(1rem);
    }
}

@media (max-width: 35em) {
    .primary-header {
        padding-bottom: 0;
        width: 100vw;
    }
    .primary-navigation {
        --gap: 2em;
        background: hsl(0 0% 100% / 0.5);
        width: 100vw;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("../bx-menu.svg");
        background-repeat: no-repeat;
        width: 2rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        border: 0;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
        background-image: url("../bx-x.svg");
    }

    .search {
        width: 90%;
    }
}

@media (min-width 35em) {
    .primary-navigation a > span[aria-hidden] {
        display: none;
    }
    .primary-navigation {
        --gap: clamp(3rem, 8vw, 10rem);
        padding-block: 2rem;
        padding-inline: clamp(3rem, 10vw, 10rem);
    }
}

.primary-navigation a {
    text-decoration: none;
    color: black;
}

.primary-navigation a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

.search {
    padding-left: 5px;
    width: 100px;
    display: inline-block;
    margin-right: 0;
    background-color: white;
    font-style: normal;
    color: #111;
}

.search-btn {
    color: #bbb;
    padding: 0 5px;
    margin-left: 0;
    background-color: white;
    font-style: normal;
}

.banner {
width: 100%;
min-height: 100vh;
}

.banner-image1, .banner-image2{
    display: inline-block;
    justify-content: center;
    width: 700px;
    padding: 10px 5px;
    overflow: hidden;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: -80px 0;
}

@media only screen and (max-width: 768px) {
    .banner {
        flex-direction: column;
        width: 100%;
        margin: 0 px;
    }
    .banner-image1 {
        width: 100%;
        height: 400px;
    }
    .banner-image2 {
        width: 90%;
        margin: 0;
        margin-top: -100px;
    }
}

input, button {
 justify-content: flex-end;
 margin-top: 0;
 background-color: #ddd;
 color: #dddddd;
 border: solid 1px #bbb;
 font-style: italic;
}

#search-button img {
    width: 10px;
    height: 10px;
}



@media only screen and (max-width: 768px) {
    .container {
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
    .left {
        display: none;

    }
    .right {
        width: 90vw;
        height: 250px;
        margin-left: 150px;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        margin-right: -150px;
    }
}

/*
.photos img {
    display: inline-block;
    justify-content: center;
    width: 700px;
    padding: 20px 10px;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
}
*/
.text {
    text-align: center;
    margin: auto;
    background-color: white;
    width: 100%;
}

.text p {
    max-width: 700px;
    margin: 20px auto;
}

.text-button {
    border: none;
    text-align: center;
    align-items: center;
    background-color: white;
    margin-bottom: 20px;
}

.text-button a {
    text-decoration: none;
    color: black;
    font-style: normal;
}

.btn:hover {
    cursor: pointer;
    background-color: #337af1;
    transition: all 0.4s ease-out;
}

#arrow {
    width: 15px;
    height:15px;
    margin: 0 8px;
}

.photos img {
    display: inline-block;
    justify-content: center;
    width: 700px;
    padding: 20px 10px;
}

section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    width: 90%;
    height: 600px;
    background: url(../resource-database-40GiwI7nZjc-unsplash.jpg) no-repeat center / cover;
    border-radius: 8px;
}

.right {
    width: 90%;
    min-height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    margin-left: -150px;
}

.right-img {
    background: url(../dweller_sgra-14BHYPL4AqQ-unsplash.jpg) no-repeat center / cover;
    margin: 10px;
    height: 600px;
}

.right h1 {
    font-size: 40px;
    font-weight: lighter;
}

.right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

.right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
}

.container2 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.tesimonial {
    max-width: 900px;
    position:relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding:50px 0;
    row-gap:30px;
    overflow: hidden;
}

.tesimonial .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 0 160px;
}

.slide .details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details .name {
    font-size: 14px;
    font-weight: 600;
    color: #333;

}

.details .job {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    
} 

.slide .bxs-quote-alt-left {
    font-size: 30px;
    color: #4070f4;
}

.footer-container {
    background-color: #212329;
    padding: 4rem 0 4rem 0;
}

.footer {
    width: 80%;
    height: 40vh;
    background-color: #212329;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: red;
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #f9423d;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #337af1;
    transition: all 0.4s ease-out;
}

@media screen and (min-width: 1150px) {
    .footer {
        height: 50vh;
    }
    .footer-email-form {
        margin-top: 4rem
    }
}

@media screen and (max-width: 820px) {
    .footer {
        padding: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .footer-3 {
        display: none;
    }
    .footer-email-form {
        margin-top: 2rem;
    }
    .footer {
        padding-bottom: 520px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #footer-email-form {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 0;
        width: 100%;
        padding: 0;
    }
    #footer-email {
        width: 130px;
    }
    #footer-email-btn {
        width: 70px;
    }
}